language: cpp

matrix:
  include:
    # ---------------------------------------------------------------------------------------------
    # osx appleclang 9

    - os: osx
      osx_image: xcode9
      env: MATRIX_EVAL="brew install jack" BUILD_TYPE=Release

    - os: osx
      osx_image: xcode9
      env: MATRIX_EVAL="brew install jack" BUILD_TYPE=Debug

    # ---------------------------------------------------------------------------------------------
    # osx appleclang 10

    - os: osx
      osx_image: xcode10
      env: MATRIX_EVAL="brew install jack" BUILD_TYPE=Release

    - os: osx
      osx_image: xcode10
      env: MATRIX_EVAL="brew install jack" BUILD_TYPE=Debug

    # ---------------------------------------------------------------------------------------------
    # linux gcc-6

    - os: linux
      addons: &linux-gcc-6 { apt: {
        packages: [ g++-6, libboost1.55-all-dev, libjack-dev, python3, python3-pip ],
        sources: [ ubuntu-toolchain-r-test, boost-latest ] } }
      env: MATRIX_EVAL="CC=gcc-6 && CXX=g++-6" BUILD_TYPE=Release

    - os: linux
      addons: *linux-gcc-6
      env: MATRIX_EVAL="CC=gcc-6 && CXX=g++-6" BUILD_TYPE=Debug

    # ---------------------------------------------------------------------------------------------
    # linux clang-6

    - os: linux
      addons: &linux-clang-6 { apt: {
        packages: [ clang-6.0, libstdc++-6-dev, libboost1.55-all-dev, 
                    libjack-dev, python3, python3-pip ],
        sources: [ llvm-toolchain-trusty-6.0, ubuntu-toolchain-r-test, boost-latest ] } }
      env: MATRIX_EVAL="CC=clang-6.0 && CXX=clang++-6.0" BUILD_TYPE=Release

    - os: linux
      addons: *linux-clang-6
      env: MATRIX_EVAL="CC=clang-6.0 && CXX=clang++-6.0" BUILD_TYPE=Debug

before_install:
  - eval "${MATRIX_EVAL}"
  - pip3 install --user -r hmb/requirements.txt

script:
  - python3 hmb/run.py
  - mkdir build && cd build
  - cmake ..
  - cmake --build .

notifications:
  email: false
