language: cpp

matrix:
  include:
    # ---------------------------------------------------------------------------------------------
    # linux gcc-6

    - os: linux
      addons: &linux-gcc-6 { apt: {
        packages: [ g++-6, libboost1.55-all-dev, libjack-dev, python3, python3-pip ],
        sources: [ ubuntu-toolchain-r-test, boost-latest ] } }
      env: MATRIX_EVAL="CC=gcc-6 && CXX=g++-6" BUILD_TYPE=Release

    - os: linux
      addons: *linux-gcc-6
      env: MATRIX_EVAL="CC=gcc-6 && CXX=g++-6" BUILD_TYPE=Debug

before_install:
  - eval "${MATRIX_EVAL}"
  - pip3 --version
  - pip3 install --user -r hmb/requirements.txt
  - pwd
  - ll

script:
  - python3 hmb/run.py
  - mkdir build && cd build
  - cmake ..
  - cmake --build

notifications:
  email: false
